#header{
    margin-left: 10px;
}
#header h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 3.5em;
    padding: 0px;
    margin-bottom: 10px;
}
#header p{
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
}
#dateDiv {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f7e3ea;
    display: none;
}
#dateDiv h2{
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}
#signsDiv{
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    background-color: #f7e3ea;
    margin-top: 10px;
}
#signsDiv h2{
    font-family: 'Caveat Brush', cursive;
    font-size: 2em;
}


select {
    width: 40%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 25px;
    transition: width 1s;
    font-family: 'Amatic SC', cursive;
}

select option{
    font-family: 'Amatic SC', cursive;
}
select:hover{
    width: 50%;

}
input{
    width: 30%;
    height: 40px;
    border-style: solid;
    border-width: medium;
    border-color: white;
    background-color: #97d3d3;
    animation-name: submit;
    animation-duration: 40s;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    
}
@keyframes submit{
     0%   {background-color: #97d3d3;}
    15%  {background-color: #89c3eb;}
    30%  {background-color: #ffe4e1;}
    45% {background-color: #ffc770;}
    60%  {background-color: #fb927d;}
    75% {background-color: #ffd777;}
    90% {background-color: #cd8d71;}
    100%   {background-color: #97d3d3;}
}
button{
    font-family: 'Amatic SC', cursive;
    height:30px;
    width: 20%;
    font-size: 20px;
    background-color: #ee5f83;
    color: white;
}
.horo{
    display: none;
}
.returnedHoro{
    background-color:#97d3d3;
}
.collapsible{
    font-family: 'Caveat Brush', cursive;
    color: white;
    font-size: 2em;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    cursor: pointer;
    width: 100%;
}
.returnedHoro{
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.active, .collapsible:hover {
    background-color: green;
}

